[submodule "ciclo-4/ciberseguranca/login-seguro"]
	path = ciclo-4/ciberseguranca/login-seguro
	url = https://github.com/silvaamc/login-seguro
[submodule "ciclo-4/java/cake-designer"]
	path = ciclo-4/java/cake-designer
	url = https://github.com/silvaamc/cake-designer
