body {
    font-family: Arial, sans-serif;
    background-color: #F5E6C8;
    color: #4B3832;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #4B3832;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #4B3832;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D3C4A6;
    border-radius: 5px;
    font-size: 16px;
}

/* remove setas do input number */
/* input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

button {
    background-color: #4B3832;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #6B4F4B;
}

#resultado p,
#enderecos-lista li {
    background-color: #FFF5EB;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}